@model IEnumerable<Assignment.Models.Post>
@using Assignment.Models

@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ApplicationDbContext db = new ApplicationDbContext();
}

<div id="posts">

    @foreach (var item in Model)
    {



    <div class="entry clearfix">
        <div class="entry-image">
            <a href="~/Posts/Details/@item.ID" data-lightbox="image"><img class="image_fade" src="~/Imgs/@(item.Image)" alt=""></a>
        </div>
        <div class="entry-title">
            <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
        </div>
        <ul class="entry-meta clearfix">

            <li><i class="icon-folder-open"></i>@Html.DisplayFor(modelItem => item.Category.CategoryName)</li>
            
            <li>
            <i class="icon-folder-open"></i>
                @foreach (var posttag in item.PostTags)
                {
                    var tag = db.Tags.Find(posttag.TagId);
                    <span>@tag.TagName</span>
                }
            </li>

            <li><a href="#"><i class="icon-user"></i> admin</a></li>

        </ul>
        <div class="entry-content">
            @Html.DisplayFor(modelItem => item.SubTitle)

            <br />
            <br />
            @Html.ActionLink("Read more", "Details", new { id = item.ID})
        </div>
    </div>

    }


</div>